body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul {
  list-style-type: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
address {
  font-style: normal;
}

/* ------- Header------------------*/
.header {
}
.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent {
  color: #2e2f42;
}
.nav-list {
}
.nav-link {
}
.nav-link-studio {
  color: #2e2f42;
}
.nav-link-studio:focus,
.nav-link-studio:active,
.nav-link-studio:hover {
  color: #404bbf;
}
.nav-cont {
}
.nav-cont-list {
}
.nav-cont-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-cont-link:hover,
.nav-cont-link:active,
.nav-cont-link:focus {
  color: #404bbf;
}
/* -------------------------*/

/* --------Main-----------------*/
/* ---------EFECTIVE SOLUTIONS----------*/
.main-sec {
  background-color: #2e2f42;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.main-btn {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* -------------------------*/
/* ----------QUALITIES---------------*/
.qual-section {
}

.qual-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.qual-item {
}

.qual-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.qual-text {
}

/* -------------------------*/
/* ----------OUR TEAM---------------*/

.team-sec {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
}
.team-item {
  background: #ffffff;
}

.taem-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* -------------------------*/
/* ----------PORTFOLIO---------------*/

.portf-sec {
}

.portf-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portf-list {
}

.portf-item {
}

.portf-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------------------*/
/* --------FOOTER-----------------*/
.footer-page {
  background-color: #2e2f42;
}

.logo {
}

.footer-page span {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* -------------------------*/
